
h1 {
	color:#fff;
	font-family:roboto;
	font-weight:900;
	text-transform:uppercase;
}

.lead {
	color:#fff;
	font-family:roboto;
	font-weight:900;
	font-style:italic;

}



.fakeJumbotron{
				text-align:center;	
				background-color:green;
				height:300px;
				vertical-align:middle;
}


.lead{
		font-size:25px;
		font-weight:800;
}


input {
		padding:10px;
		margin: 10px;
		}

.inner3{
		height:75;
		width:170px;
		border-style:solid;
		border-color: red;	
}

.inner4{
		height:75;
		width:170px;
		border-style:solid;
		border-color: blue;	
}

.inner5{
		height:75;
		width:170px;
		border-style:solid;
		border-color: green;	
}

.inner6{
		height:75;
		width:170px;
		border-style:solid;
		border-color: yellow;	
}

.inner7{
		height:75;
		width:170px;
		border-style:solid;
		border-color: black;	
}
.inner8{
		height:75;
		width:170px;
		border-style:solid;
		border-color: black;	
}

p {
	font-size:18px;
	font-weight:800;
	position:relative;
	top:25px;
}
.innerP {
		font-size:12px;
		font-weight:900;
		position:relative;
		top:5px;
		}

#size{
		margin:6px;
		display:block;

		float:left;
		}
		
#crust{
		position:relative;
		top:-30px;
		margin:6px;
		display:block;
		float:left;
		
	
		}
		
				
#sauce{
		position:relative;
		top:-1px;
		margin:6px;
		display:block;
		float:left;

		}
		
#cheese{
		position:relative;
		top:-24px;
	
		margin:6px;
		display:block;
		float:left;

		}
		
#meat{
		position:relative;
		top:-25px;
		margin:6px;
		display:block;
		float:left;
		}
		
#vegetable{
		position:relative;
		top:-25px;
		margin:6px;
		display:block;
		float:left;
		}

#order{
		position:relative;
		top:-100px;
		left:40%;
		height:75px;
		width:150px;
		background-color:green;
		font-size:25px;
		font-weight:900px;
		color:#fff;
}

#pizzaOrder{
				position:relative;
				left:35%;
				border:solid;
				border-color:blue;
				width:250px;

	
}

#orderButton{
		position: absolute;
		left: 40%;
		top: 700px;
}

#tableDiv{
		position: absolute;
		left: 36%;
		top: 700px;
		width:170px;
		display:none;
}
td{
	border-top-style:dotted;
	border-color:green;
	
}

#footer{
		position:relative;
		top:600px;
		height:50px;
		background-color:green;
}