h1 {
	color:#fff;
	font-family:roboto;
	font-weight:900;
	text-transform:uppercase;
}


#size{
		background-color:gray;
		width:300px;
		height:75px;
		}
#crust{
		background-color:salmon;
		width:300px;
		height:75px;
		}
#cheese{
		background-color:yellow;
		width:300px;
		height:75px;
		}
		
#sauce{
		background-color:pink;
		width:300px;
		height:75px;
		}
		
#meat{
		background-color:aqua;
		width:300px;
		height:75px;
		}
#vegetables{
		background-color:red;
		width:300px;
		height:75px;
		}