<<<<<<< HEAD
h1 {
	color:#fff;
	font-family:roboto;
	font-weight:900;
	text-transform:uppercase;
=======
h1 {
	color:#fff;
	font-family:roboto;
	font-weight:900;
	text-transform:uppercase;
<<<<<<< HEAD
}

input {
		padding:10px;
		margin: 10px;
		}



#size{
		margin:2px;
		display:block;
		height:75;
		width:170px;
		border-style:solid;
		border-color: red;
		}
		
#crust{
		margin:2px;
		display:block;
		height:210px;
		width:170px;
		border-style:solid;
		border-color: green;
		}
		
				
#sauce{
		margin:6px;
		display:block;
		height:200px;
		width:170px;
		border-style:solid;
		border-color: yellow;
		}
		
#cheese{
		margin:6px;
		display:block;
		height:120px;
		width:170px;
		border-style:solid;
		border-color: brown;
		}
		
#meat{
		margin:6px;
		display:block;
		height:270px;
		width:170px;
		border-style:solid;
		border-color: blue;
		}
		
#vegetables{
		margin:6px;
		display:block;
		height:240px;
		width:170px;
		border-style:solid;
		border-color: gray;
		}
=======
>>>>>>> ab6c3663ca6523658cbcae190b36e19848d62b04
}
>>>>>>> b3e46a605f30e247e8e08b66dfe163dd5ba790ab
